/*  
*/
*{
	
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	color: #fff;
}

body {
	box-sizing: border-box;
	font-family: rockwell;
	font-size: 16px;
	max-width: 1300px;
	margin: 0 auto;
	color: rgb(14, 12, 12);
	min-height: 100vh;
}

header {
	display: flexbox;
	width: 100%;

}

nav {
	display: inline-block;
	padding: 0;
	position: sticky;
	top: 0;
	/* display: flex; */
	align-items: center;
	justify-content: space-around;
	height: 40px;
	padding-bottom: 5px;
	transition: 0.5s linear;
}

#menuIcon {
	display: none;
}

.menu-box {
	display: none;
}

.navigation {
	padding: 10px;
	width: 100%;
	background: linear-gradient(to top, black, gray);
}

.navigation p {
	color: #c0c0c0;
	margin: 0;
	padding: 0 5px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	width: 800px;
	text-shadow: 20px 30px 60px #7c0f0f;
}

i {
	font-size: 30px;
	color: white;
}



nav ul {
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 20px;
	/* width: 60vh; */
	display: inline-block;
	justify-content: space-between;
	text-align: center;
	box-shadow: 10px 20px 80px #0f31ab,
		-20px -20px 60px #c70f0f;
	font-size: 10px;
}

nav li {
	display: inline-block;
	list-style: none;

	margin: 0 15px;
	position: relative;
	cursor: pointer;
	text-align: center;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

nav ul li a:hover {
	color: #b11010;
	transition: all 0.5s linear;
	padding-inline-start: 3px;
}

li a.active::after {
	position: absolute;
	content: " ";
	height: 4px;
	width: 100%;
	background-color: #c81933;
	left: 3px;
	bottom: -3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	animation: appear 0.3s linear;
	z-index: inherit;
}

@keyframes appear {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.sub-menu-1 {
	display: none;  

}

.menu-bar ul li:hover .sub-menu-1 {
	display: block;  

	position: absolute;
	/* background: #797474; */
	margin-top: 2px;
	margin-left: -60px;

}

.menu-bar ul li:hover .sub-menu-1 ul {
	
	display: block;
	margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 140px;
	padding: 5px;
	/* border-bottom: 1px dotted white; */
	background: transparent;
	border-radius: 0;
	text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: #b11010;
	background: #797474;
	border: 1px solid #797474;
	border-radius: 6px;
	/* padding: 10px; */
}

/* ----------------------------- img-header */

.img-header {
	margin: 0 auto;
	background: url(/media/pp1.jpeg);
	background-size: cover;
	background-position: center;
	height: 530px;
	padding: 0;

}

.img-header h1 {
	margin: 0;
	color: inherit;
	font-size: 40px;
	width: 100%;
	padding-left: 80px;
	letter-spacing: 5px;
	text-align: left;
	left: 0;
	/* padding-top: 150px; */
	top: 230px;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(327deg, #ec0505, #ffffff, #07a0ec);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 75%;
	animation: first 10s linear 1;
	position: absolute;
	z-index: 10;

}

/*font-weight: 700;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(327deg, #ec0505, #ffffff, #07a0ec);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
 background-size: 75%;
	animation: first 13s linear 1;
	position: relative;
	padding-inline-end: 307px;
	z-index: 10;
} */

.img-header h2 {

	font-style: italic;
	color: inherit;
	width: 100%;
	letter-spacing: 5px;
	text-align: center;
	/* padding-top: 40px; */
	/* margin-top: 215px; */
	bottom: 128px;

	font-weight: 700;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(271deg, #ec0505, #ffffff, #07a0ec);
	;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: second 13s linear 1;
	position: absolute;
	padding-inline-end: 310px
}


@keyframes first {
	0% {
		background-position-x: -400%;
	}

	100% {
		background-position-x: 700%;
	}
}

@keyframes second {
	0% {
		background-position-x: -2000%;
	}

	100% {
		background-position-x: 1550%;
	}
}

#letsGo {
	padding-left: 5px;
	/* margin-left: 290px; */
	left: 550px;
	bottom: 20px;
	/* margin-top: 70px; */
	position: absolute;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: 2px solid #c0c0c0;
	font-weight: bold;

	border-radius: 20px;
	padding: 11px 29px;
	background: linear-gradient(to left, #ffffff, #07a0ec);

	color: #797474;


}

/* -------------------------------------------------- footer */
.footer {
	bottom: 0;
	/* width: 100vw; */
	text-align: center;
	clear: both;
	background-color: black;
	color: white;
	padding: 10px;

}

.footer .social-networks {
	width: 100%;
}

.footer .social-networks ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social-networks ul li {
	margin: 0px 20px;
}

footer .social-networks ul li a {
	text-decoration: none;
	color: white;
	font-size: 35px;
	transition: 0.5s ease;
	padding: 0;

}

footer .social-networks ul li a i {
	transition: 0.5 ease;
	padding: 0;

}

footer .social-networks ul li a:hover {
	color: red;

}

footer .social-networks ul li i:hover {
	scale: 1.15;
}





/* --------------  mobile---------------- */









@media only screen and (max-width: 768px) {

	.navigation p {
		width: 100%;
	}

	.img-header {

		width: 100%;
		height: 100vh;
		background: url(/media/HD-wallpaper-machine-high-tech.jpg);
	}

	nav {
		display: none;
	}

	.menu-box {
		display: none;
	}

	.img-header h1 {
		padding-left: 0;
		font-size: 28px;
		background-size: 86%;
		z-index: 6;
		/* width: 100%; */
		width: auto;

		text-align: center;
		/* padding: 86px; */
		letter-spacing: 2px;
		left: 0;
	}

	#letsGo {
		display: block;
		width: 40%;
		left: 140px;
		font-size: 18px;
		margin-top: 70px;
		padding: 7px 15px;
		justify-content: center;
		z-index: 4;
	}

	.img-header h2 {
		/* display: block; */
		left: 5px;
		bottom: 280px;
		margin: 0;
		font-size: 18px;
		padding-right: 2px;
		text-align: left;
		/* padding-inline-end: 65px;
	padding-left: 0;
	*/
		word-spacing: 1px;
		background-size: 90%;
	}

	body>footer>p {
		font-size: 10px;
	}

	body>footer>h3 {
		font-size: 10px;
	}

	.footer {
		width: 100%;
		display: inline-block;
	}

	.social-networks ul span {
		font-size: 10px;
	}

	.social-networks ul li i {
		font-size: 20px;
		margin-bottom: 20px;
		padding-right: 40px;
	}

	#menuIcon {
		display: inline;
		width: 50px;
		position: fixed;
		top: 50px;
		right: 40px;
		border-radius: 50%;
		cursor: pointer;
		z-index: 100;
	}

	.menu-box {
		/* display: inline; */
		width: 0;
		height: 0;
		background: rgba(68, 70, 87, 0.78);
		position: fixed;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-bottom-right-radius: 7px;
		border-top-right-radius: 40%;
		z-index: 100;
		transition: width 0.5s, height 0.5s, border-bottom-left-radius 0.5s;
		text-decoration: none;
	}

	.menu-box.openMenu {
		border-bottom-left-radius: 0;
		width: 60%;
		height: 75vh;
	}

	.menu-box.openMenu ul li {
		opacity: 1;
		transform: translateY(0);
		transition: transform 1s, opacity 1s;
		transition-delay: 0.5s;

	}

	.menu-box ul li {
		list-style: none;
		margin: 20px;
		text-align: center;
		z-index: 100;
		opacity: 0;
		transform: translateY(30px);

	}

	.menu-box ul li a {
		text-decoration: none;
		display:block;
		color: #fff;
		font-size: 20px;
		position: relative;
		font-weight: 600;
		text-shadow: 0 0 0 red;
		padding: 0;
		cursor: pointer;
		z-index: 99;
		transition: text-shadow 0.6s, transform 0.5s;
		top: 5px;
	}
	.menu-box ul li a::after {
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #fff;
		position:absolute;
		bottom: 5px;
		left: 100px;
		opacity: 0;
		box-shadow: 0px 0px 0 red;
		transition: box-shadow 0.5s;
	}

	.menu-box ul li a:hover::after {
		opacity: 1;
		box-shadow: -2px 2px 0 red;
	}

	/*---------------- drop-down---------------- */
	.mobile-links{
		position:fixed;
		top: 100px;
		left:3px
	}
	.menu-box ul li a:hover {
		text-shadow: -2px 2px 0 red;
		transform: translateY(-6px);
	}
	#menuBox > ul > li.nav-links.dropdown > a{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.dropdown-item .nav-link{
		margin: 1.5rem 0 ;
		color: #f79533;
		font-size: 18px;
		transition: trnasform 0.1s;
		background: transparent;
		text-shadow: #000;
		letter-spacing: 0.3px;
	}
	/* .dropdown-item .nav-link:hover{
		color: #ec0505;
		transform: rotate(360deg);
	} */
	.dropdown_icon{
		font-size: 16px;
		transition: 0.5s;
		margin-left: 25px;
		transition: transform 1s;
	}
	.drop-menu{
		margin: 0.3rem 0 0 0.1rem;
		  display: none;  
		 transition: 2s;
		opacity: 0;
	}
	.dropdown{
		transition:opacity 2s;	
	}
	.dropdown:hover > .drop-menu{
		display: block;
		opacity: 1; 
		
		transition-delay: 1.5s;
	}
	.dropdown:hover .dropdown_icon{
		transform: rotate(180deg);
	}
/* -------------------------------------------------------- */
	







/* 	
	.menu-box ul li:hover .sub-menu-1 {
		display: block;
		position: absolute;
		
		margin-top: 2px;
		margin-left: -60px;
	
	}
	
	.menu-box ul li:hover .sub-menu-1 ul {
		display: block;
		margin: 5px;
	}
	
	.menu-box ul li:hover .sub-menu-1 ul li {
		width: 140px;
		padding: 10px;
		border-bottom: 1px dotted white;
		background: transparent;
		border-radius: 0;
		text-align: center;
	}
	
	.menu-box ul li:hover .sub-menu-1 ul li:last-child {
		border-bottom: none;
	}
	
	.menu-box ul li:hover .sub-menu-1 ul li a:hover {
		color: #b11010;
		background: #797474;
		border: 1px solid #797474;
		border-radius: 6px;

	} */
	



}