@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*{
	
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	color: #fff;
}

body {
	box-sizing: border-box;
	font-family: rockwell;
	font-size: 16px;
	max-width: 1300px;
	margin: 0 auto;
	color: rgb(14, 12, 12);
	min-height: 100vh;
}

header {
	display: flexbox;
	width: 100%;

}

nav {
	display: inline-block;
	padding: 0;
	position: sticky;
	top: 0;
	/* display: flex; */
	align-items: center;
	justify-content: space-around;
	height: 40px;
	padding-bottom: 5px;
	transition: 0.5s linear;
}

#menuIcon {
	display: none;
}

.menu-box {
	display: none;
}

.navigation {
	padding: 10px;
	width: 100%;
	background: linear-gradient(to top, black, gray);
}

.navigation p {
	color: #c0c0c0;
	margin: 0;
	padding: 0 5px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	width: 800px;
	text-shadow: 20px 30px 60px #7c0f0f;
}

i {
	font-size: 30px;
	color: white;
}



nav ul {
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 20px;
	/* width: 60vh; */
	display: inline-block;
	justify-content: space-between;
	text-align: center;
	box-shadow: 10px 20px 80px #0f31ab,
		-20px -20px 60px #c70f0f;
	font-size: 10px;
}

nav li {
	display: inline-block;
	list-style: none;

	margin: 0 15px;
	position: relative;
	cursor: pointer;
	text-align: center;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

nav ul li a:hover {
	color: #b11010;
	transition: all 0.5s linear;
	padding-inline-start: 3px;
}

li a.active::after {
	position: absolute;
	content: " ";
	height: 4px;
	width: 100%;
	background-color: #c81933;
	left: 3px;
	bottom: -3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	animation: appear 0.3s linear;
	z-index: inherit;
}

@keyframes appear {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.sub-menu-1 {
	display: none;  

}

.menu-bar ul li:hover .sub-menu-1 {
	display: block;  

	position: absolute;
	/* background: #797474; */
	margin-top: 2px;
	margin-left: -60px;

}

.menu-bar ul li:hover .sub-menu-1 ul {
	
	display: block;
	margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 140px;
	padding: 5px;
	/* border-bottom: 1px dotted white; */
	background: transparent;
	border-radius: 0;
	text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: #b11010;
	background: #797474;
	border: 1px solid #797474;
	border-radius: 6px;
	/* padding: 10px; */
}

/* ----------------------------- img-header */

.img-header {
	margin: 0 auto;
	background: url(/media/pp1\ copy.webp);
	background-size: cover;
	background-position: center;
	height: 530px;
	padding: 0;

}

.img-header h1 {
	margin: 0;
	color: inherit;
	font-size: 40px;
	width: 100%;
	padding-left: 80px;
	letter-spacing: 5px;
	text-align: left;
	left: 0;
	/* padding-top: 150px; */
	top: 230px;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(327deg, #ec0505, #ffffff, #07a0ec);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 75%;
	animation: first 10s linear 1;
	position: absolute;
	z-index: 10;

}

/*font-weight: 700;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(327deg, #ec0505, #ffffff, #07a0ec);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
 background-size: 75%;
	animation: first 13s linear 1;
	position: relative;
	padding-inline-end: 307px;
	z-index: 10;
} */

.img-header h2 {

	font-style: italic;
	color: inherit;
	width: 100%;
	letter-spacing: 5px;
	text-align: center;
	/* padding-top: 40px; */
	/* margin-top: 215px; */
	bottom: 128px;

	font-weight: 700;
	word-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(271deg, #ec0505, #ffffff, #07a0ec);
	;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: second 13s linear 1;
	position: absolute;
	padding-inline-end: 310px
}


@keyframes first {
	0% {
		background-position-x: -400%;
	}

	100% {
		background-position-x: 700%;
	}
}

@keyframes second {
	0% {
		background-position-x: -2000%;
	}

	100% {
		background-position-x: 1550%;
	}
}

#letsGo {
	padding-left: 5px;
	/* margin-left: 290px; */
	left: 550px;
	bottom: 20px;
	/* margin-top: 70px; */
	position: absolute;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: 2px solid #c0c0c0;
	font-weight: bold;

	border-radius: 20px;
	padding: 11px 29px;
	background: linear-gradient(to left, #ffffff, #07a0ec);

	color: #797474;


}

/* -------------------------------------------------- footer */
.footer {
	bottom: 0;
	/* width: 100vw; */
	text-align: center;
	/* clear: both; */
	background-color: black;
	color: white;
	padding: 10px;

}

.footer .social-networks {
	width: 100%;
}

.footer .social-networks ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social-networks ul li {
	margin: 0px 20px;
}



footer .social-networks ul li a i {
	transition: 0.5 ease;
	padding: 0;
	font-size: 17px;

}

footer .social-networks ul li a:hover {
	color: red;

}

footer .social-networks ul li i:hover {
	scale: 1.15;
}

